body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 180px;
  }

  .btn {
    background: #005f9e;
    background-image: -webkit-linear-gradient(top, #005f9e, #148fdb);
    background-image: -moz-linear-gradient(top, #005f9e, #148fdb);
    background-image: -ms-linear-gradient(top, #005f9e, #148fdb);
    background-image: -o-linear-gradient(top, #005f9e, #148fdb);
    background-image: linear-gradient(to bottom, #005f9e, #148fdb);
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 2px 2px 3px #b5b5b5;
    -moz-box-shadow: 2px 2px 3px #b5b5b5;
    box-shadow: 2px 2px 3px #b5b5b5;
    font-family: Myriad Pro;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #49b9fa;
    background-image: -webkit-linear-gradient(top, #49b9fa, #136094);
    background-image: -moz-linear-gradient(top, #49b9fa, #136094);
    background-image: -ms-linear-gradient(top, #49b9fa, #136094);
    background-image: -o-linear-gradient(top, #49b9fa, #136094);
    background-image: linear-gradient(to bottom, #49b9fa, #136094);
    text-decoration: none;
  }