body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 200px;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 20px;
  background-image: url(../images/kabanch.png);
  transform: rotateY(180deg);
  width: 100px;
  height: 66px;
}

a {
  margin-top: 10px;
}

.popup-label {
  text-align: right;
}

.audio-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.audio-show-clear {
  margin-top: 10px;
  width: 150px;
  border: 0;
  border-radius: 6px;
  height: 28px;
  font-weight: 600;
  background: #f1f1f1;
  cursor: pointer;
}

audio {
  margin-top: 5px;
}