body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 200px;
  position: relative;
}

body:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 20px;
  background-image: url(../images/kabanch.png);
  transform: rotateY(180deg);
  width: 100px;
  height: 66px;
}

a {
  margin-top: 10px;
}

.popup-label {
  text-align: right;
}